.container {
  width: 200px;
  background: lightgray;
  padding: 1em;
  margin: 1em;
}

.button {
  color: gold;
  background: #191902;
  padding: 1em 1em;
  border-radius: 5px;
  border: 0;
  margin: 1em;
}

.display {
  color: black;
  font-size: 2em;
}