.navbar {
  background: lightblue;
}

.logo {
  margin: 0;
  display: inline;
}

.links {
  color: white;
  font-size: 1.5em;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.links > li {
  display: inline;
  padding: 0 2em;
}

a {
  color: darkred;
  text-decoration: none;
}